@import "open-props/postcss/style";
@import "open-props/postcss/normalize";

:root {
    --body-text-color: var(--gray-8);
    --body-background-color: var(--indigo-8); 
}

body {
    font-family: 'Lexend Deca', Tahoma, Geneva, Verdana, sans-serif;
}

pre {
    box-shadow: var(--shadow-6);
}
