---
import '@fontsource/big-shoulders-display'
import '@fontsource/lexend-deca'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>

		<title>Welcome to Astro</title>
	</head>

	<body>
		<h1>Welcome to <a href="https://astro.build/">Astro</a></h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam exercitationem assumenda, ex libero quis itaque illo autem pariatur voluptas veritatis rem amet inventore similique! Velit iste aliquam provident ipsa esse.</p>

        <pre>
            ana are mere
            zuza('init config')
        </pre>
	</body>
</html>
